[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
six = "==1.12.0"
ipython = "==7.2.0"
numpy = "==1.15.4"
pandas = "==0.23.4"
pyarrow = "==0.12.0"
matplotlib = "==3.0.2"
jinja2 = "==2.10.1"

[requires]
python_version = "3.7"
